* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #171717;
    color: #D9D9D9;
    font-family: "Lato", sans-serif;
}

p {
    font-size: 1.5rem;
}

#width-content {
    margin: 0 auto;
    max-width: 1400px;
}

.h1-yellow, .skill-heading, .projects-heading, .contatct-title {
    color: #FFFF4D;
    font-size: 2.2rem;
}

/* NAVIGATION */

.navbar-view {
    width: 1400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #171717;
    position: fixed;
    z-index: 10;
}

.navbar-scroll {
    -webkit-box-shadow: 0px 15px 5px -0.5px rgba(23, 23, 23, 0.7);
    -moz-box-shadow: 0px 15px 5px -0.5px rgba(23, 23, 23, 0.7);
    box-shadow: 0px 15px 5px -0.5px rgba(23, 23, 23, 0.7);
}

.navbar-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar-list li {
    list-style: none;
}

.list-logo {
    margin-right: 0.5rem 1.5rem;
}

.list-link {
    margin: 0.5rem 1rem;
}

.navbar-link {
    text-decoration: none;
    color: #D9D9D9;
}

.logo-fk {
    padding-right: 1rem;
}

.logo-navbar {
    min-width: 40px;
    max-height: auto;
}

.change-language>p {
    font-size: 1rem !important;
}

/* MAIN PAGE */

#first-page {
    width: 100%;
    height: calc(100vh - 70px);
}

.greeting {
    width: 100%;
    height: 100%;
    display: flex;
}

.greeting-text, .typing {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 4.5rem;
    padding-top: 19%;
}

.greeting-text {
    padding-left: 6%;
}

.typing {
    position: relative;
    margin-left: 10px;
}

.typing::after {
    content: "";
    position: absolute;
    right: -10px;
    width: 0.5px;
    height: 11%;
    border: 3px solid #FFFF4D;
    animation: blink 0.5s infinite ease;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* About Me - Section */

#about-me {
    width: 100%;
    height: 160vh;
}

.about-me__content {
    width: 100%;
    height: 60%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 20% 40% 40%;
}

.am--content__img {
    grid-column: 2 / 5;
    grid-row: 2 / 4;
}

.am--content__text {
    grid-column: 6 / 12;
    grid-row: 1 / 4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    line-height: 2.1rem;
}

.photo-fk {
    width: 100%;
    height: auto;
    -webkit-box-shadow: -50px -50px 0px 10px rgba(255, 255, 77, 1);
    -moz-box-shadow: -50px -50px 0px 10px rgba(255, 255, 77, 1);
    box-shadow: -50px -50px 0px 10px rgba(255, 255, 77, 1);
}

/* SKILLS SECTION */

#my-skills {
    width: 100%;
    height: 40%;
    display: flex;
}

.other-websites, .progress-bar {
    display: inline-block;
    width: 50%;
    height: 100%;
}

.progress-bar {
    display: flex;
    flex-direction: column;
}

.progress-bar__item {
    line-height: 4rem;
}

.other-websites {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.other-websites a {
    text-decoration: none;
    line-height: 4.5rem;
    color: #FFFF4D;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
}

/* -- Progress Bar -- */

.progress {
    width: 80%;
    height: 30px;
    border-radius: 20px;
    background-color: #D9D9D9;
}

.progress-done {
    height: 100%;
    color: #171717;
    background: linear-gradient(to left, #e7e779, #FFFF4D);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease;
}

.progress-done__htmlcss {
    width: 0;
    opacity: 0;
}

.progress-done__javascript {
    width: 0;
    opacity: 0;
}

.progress-done__bootstrap, .progress-done__sass {
    width: 0;
    opacity: 0;
}

/* -- PROJECTS SECTION -- */

#projects {
    width: 100%;
    height: auto;
    display: block;
}

.projects-heading__div {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr;
    column-gap: 5%;
    row-gap: 3%;
    margin-bottom: 3rem;
}

.project-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.project-hidden__info {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 130;
    background-color: red;
}

.project1, .project2, .project3 {
    grid-row: 1 / 2;
}

.project4, .project5, .project6 {
    grid-row: 2 / 3;
}

.project1, .project4 {
    grid-column: 1 / 5;
}

.project2, .project5 {
    grid-column: 5 / 9;
}

.project3, .project6 {
    grid-column: 9 / 13;
}

.project-photo {
    width: 100%;
    height: 80%;
}

.project-photo>img {
    width: 100%;
    height: 100%;
}

.project-title {
    width: 100%;
    height: 20%;
    text-align: center;
}

.project-title p {
    padding: 1rem 1rem;
    position: relative;
}

.project-title p::before {
    content: "";
    display: block;
    width: 100px;
    height: 3.5px;
    background: #FFFF4D;
    position: absolute;
    left: 10%;
    top: 50%;
    z-index: -2;
}

.project-title p::after {
    content: "";
    display: block;
    width: 100px;
    height: 3.5px;
    background: #FFFF4D;
    position: absolute;
    right: 10%;
    top: 50%;
    z-index: -2;
}

.project-name {
    background: #171717;
}

/* -- CONTACT ME SECTION -- */

#contact {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 25% 75%;
    grid-template-areas: "textgrid textgrid" "contactme contactinfo";
}

.contact-text {
    grid-area: textgrid;
}

.contactMe {
    grid-area: contactme;
}

.contact-info {
    grid-area: contactinfo;
}

.contact-text p {
    padding-top: 4rem;
}

#contact-form {
    width: 100%;
    height: 85%;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

textarea, .input-class {
    font-family: "Lato", sans-serif;
    outline: none;
    border: none;
    background-color: #171717;
    font-size: 1.3rem;
    color: #D9D9D9;
}

textarea {
    resize: none;
    width: 87%;
    height: 40%;
}

.input-class {
    width: 70%;
    height: 2rem;
}

.input-class:focus, textarea:focus {
    border-bottom: solid 2px #FFFF4D;
}

.btn {
    width: 87%;
    height: 3rem;
    background-color: #FFFF4D;
    color: #171717;
    outline: none;
    border: none;
    font-size: 1.1rem;
    font-family: "Lato", sans-serif;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.contact-details, .goodbye-div {
    width: 100%;
    height: 87%;
}

.contact-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 3rem;
}

.ylw-text {
    color: #FFFF4D;
    font-weight: 700;
}

.goodbye-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.goodbye-text {
    font-weight: 700;
    position: relative;
}

.goodbye-text::before {
    content: "";
    display: block;
    position: absolute;
    width: 70%;
    border: 2px solid #FFFF4D;
    top: -50%;
    left: 15%;
}

.goodbye-text::after {
    content: "";
    display: block;
    position: absolute;
    width: 70%;
    border: 2px solid #FFFF4D;
    bottom: -60%;
    left: 15%;
}

@media screen and (max-width: 950px) {
    .h1-yellow, .skill-heading, .projects-heading, .contatct-title {
        font-size: 1.9rem;
    }
    .greeting {
        flex-direction: column;
    }
    .greeting-text {
        padding-top: 30%;
        padding-left: 25%;
    }
    .typing {
        padding-top: 0%;
        padding-left: 12%;
        overflow-x: hidden;
    }
    #about-me {
        margin-top: 5rem;
        height: 120vh;
    }
    .about-me__content {
        height: 60%;
        grid-template-rows: 20% 40%;
    }
    .am--content__img {
        grid-row: 2 / 3;
    }
    .am--content__text {
        grid-column: 6 / 13;
        grid-row: 1 / 3;
        line-height: 1.8rem;
    }
    .am--content__text {
        padding-top: 1.2rem;
        line-height: 1.5rem;
    }
    #about-me p {
        font-size: 1.2rem
    }
    /* SKILLS SECTION */
    .progress-bar__item {
        line-height: 3rem;
    }
    .other-websites a {
        line-height: 3.5rem;
        padding-bottom: 0.5rem;
        font-size: 1.4rem;
    }
    /* -- PROJECTS SECTION -- */
    .project-title p::before {
        width: 80px;
        left: 4%;
        top: 50%;
    }
    .project-title p::after {
        width: 80px;
        right: 4%;
        top: 50%;
    }
    /* -- CONTACT ME SECTION -- */
    .contact-text p {
        padding-top: 2.5rem;
        font-size: 1.2rem;
    }
    textarea, .input-class, .contact-details p, .goodbye-text {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 650px) {
    .h1-yellow, .skill-heading, .projects-heading, .contatct-title {
        font-size: 1.6rem;
    }
    h2 {
        font-size: 1.3rem;
    }
    .greeting {
        flex-direction: column;
    }
    .greeting-text {
        padding-top: 45%;
        padding-left: 26%;
    }
    .typing {
        padding-top: 0%;
        padding-left: 15%;
    }
    .greeting-text, .typing {
        font-size: 3.5rem;
    }
    .am--content__text {
        line-height: 1.3rem;
        padding-top: 0rem;
    }
    #about-me {
        height: 120vh;
    }
    .about-me__content, #my-skills {
        height: 50%;
    }
    .am--content__img {
        grid-column: 2 / 6;
        grid-row: 2 / 4;
    }
    .am--content__text {
        grid-column: 6 / 13;
        grid-row: 1 / 4;
        padding-left: 0.5rem;
    }
    #about-me p {
        font-size: 1rem
    }
    .photo-fk {
        width: 100%;
        height: 100%;
        -webkit-box-shadow: -30px -30px 0px 3px rgba(255, 255, 77, 1);
        -moz-box-shadow: -30px -30px 0px 3px rgba(255, 255, 77, 1);
        box-shadow: -30px -30px 0px 3px rgba(255, 255, 77, 1);
    }
    /* SKILLS SECTION */
    #my-skills {
        padding-top: 1.5rem;
    }
    .other-websites a {
        line-height: 3rem;
        font-size: 1.3rem;
    }
    /* -- PROJECTS SECTION -- */
    .project-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        column-gap: 1%;
        row-gap: 1%;
        margin-bottom: 2rem;
    }
    .project1, .project2 {
        grid-row: 1 / 2;
    }
    .project3, .project4 {
        grid-row: 2 / 3;
    }
    .project5, .project6 {
        grid-row: 3 / 4;
    }
    .project1, .project3, .project5 {
        grid-column: 1 / 2;
    }
    .project2, .project4, .project6 {
        grid-column: 2 / 3;
    }
    .project-title p {
        font-size: 1.3rem;
    }
    /* -- CONTACT ME SECTION -- */
    #contact {
        margin-top: 4rem;
    }
    #contact-form, .contact-details {
        padding-top: 0rem;
    }
    .contact-text p {
        padding-top: 1.5rem;
        font-size: 1.2rem;
    }
    textarea, .input-class, .contact-details p, .goodbye-text {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 480px) {
    .h1-yellow, .skill-heading, .projects-heading, .contatct-title {
        font-size: 1.2rem;
    }
    h2 {
        font-size: 1.1rem;
    }
    .greeting-text {
        padding-top: 60%;
        padding-left: 30%;
    }
    .typing {
        padding-left: 19%;
    }
    .greeting-text, .typing {
        font-size: 2.5rem;
    }
    #about-me {
        height: auto;
    }
    .about-me__content {
        grid-template-columns: 1fr;
        grid-template-rows: 60% 40%;
    }
    .am--content__img {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .am--content__text {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        padding-left: 0px;
        line-height: 1.6rem;
    }
    .photo-fk {
        width: 80%;
        height: auto;
        position: relative;
        left: 50px;
        top: 5px;
        -webkit-box-shadow: -20px -20px 0px 0px rgba(255, 255, 77, 1);
        -moz-box-shadow: -20px -20px 0px 0px rgba(255, 255, 77, 1);
        box-shadow: -20px 0px 0px 0px rgba(255, 255, 77, 1);
    }
    /* SKILLS SECTION */
    #my-skills {
        flex-direction: column;
    }
    .other-websites, .progress-bar {
        display: block;
        width: 100%;
        /* height: 100%; */
    }
    .progress-bar__item {
        line-height: 2.5rem;
    }
    .other-websites {
        padding-top: 1rem;
    }
    .other-websites a {
        line-height: 1.5rem;
        padding-right: 0rem;
        padding-bottom: 1rem;
        font-size: 1rem;
    }
    /* -- Progress Bar -- */
    .progress {
        width: 90%;
    }
    /* -- PROJECTS SECTION -- */
    .project-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        column-gap: 0%;
        row-gap: 1%;
        margin-bottom: 2rem;
    }
    .project1 {
        grid-row: 1 / 2;
    }
    .project2 {
        grid-row: 2 / 3;
    }
    .project3 {
        grid-row: 3 / 4;
    }
    .project4 {
        grid-row: 4 / 5;
    }
    .project5 {
        grid-row: 5 / 6;
    }
    .project6 {
        grid-row: 6 / 7;
    }
    .project1, .project3, .project5, .project2, .project4, .project6 {
        grid-column: 1 / 2;
    }
    .project-title p {
        font-size: 1.3rem;
    }
    .project-title p::before {
        left: 13%;
    }
    .project-title p::after {
        right: 13%;
    }
    /* -- CONTACT ME SECTION -- */
    #contact {
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: "textgrid textgrid" "contactme contactme" "contactinfo contactinfo";
    }
    .contact-text {
        margin-top: 3rem;
    }
    #contact-form, .contact-details {
        padding-top: 0rem;
    }
    .contact-text p {
        padding-top: 0.5rem;
        padding-bottom: 2.5rem;
    }
    textarea, .input-class, .contact-details p, .goodbye-text {
        font-size: 1.2rem;
        padding-bottom: 1rem;
    }
    .btn {
        width: 100%;
    }
    .goodbye-text::after {
        bottom: -35%;
    }
}